<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sp.ics.uplb.gtrack" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".Tracker"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service
            android:name=".services.FirebaseListenerService"
            />

        <activity
            android:name=".activities.UsersDirectoryActivity"
            android:label="@string/title_activity_users_directory"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sp.ics.uplb.gtrack.activities.MainActivity" />
        </activity>

        <receiver android:name=".activities.MainActivity$LocationBroadcastReceiver" >
            <intent-filter>
                <action android:name="sp.ics.uplb.gtrack.DRAW_GPS_INTENT" >
                </action>
                <action android:name="sp.ics.uplb.gtrack.DISCONNECT" >
                </action>
                <action android:name="sp.ics.uplb.gtrack.SET_TARGET" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".services.FirebaseListenerService$FirebaseBroadcastReceiver">
            <intent-filter>
                <action android:name="sp.ics.uplb.gtrack.SET_TARGET" >
                </action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
